<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="logPattern"
		value="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
	<property name="logEncoding" value="UTF-8" />
	<property name="logDirectory" value="C:/ProgramData/MySecureBook/log" />

 	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>
        
	<appender name="fileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logDirectory}/application.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logDirectory}/archived/application_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>30MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<charset>${logEncoding}</charset>
			<pattern>${logPattern}</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="error" />

	<root level="ERROR">
		<appender-ref ref="fileAppender" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>